html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

input[type="button"], input[type="reset"], input[type="submit"],
button,
.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  .btn:hover,
  button:focus,
  .btn:focus {
    background-color: #2c5999;
    color: #fff; }
  input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled,
  .btn:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #c4c4c4; }
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #2c5999; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

/********
/********
/
/ REFILLS
/
/
/********
/********/
.type-system-slab {
  text-align: left; }
  .type-system-slab h1, .type-system-slab h2, .type-system-slab h3, .type-system-slab p {
    margin: 0; }
  .type-system-slab hr {
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 1.5em 0; }
  .type-system-slab p {
    color: #333;
    line-height: 1.5; }
  .type-system-slab a {
    color: #b7dbe7;
    text-decoration: none; }
  .type-system-slab::after {
    clear: both;
    content: "";
    display: table; }
  .type-system-slab .type {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 0.7em;
    font-weight: 600;
    margin-bottom: 2em;
    padding: 0.1em 0;
    text-align: left;
    text-transform: uppercase; }
  .type-system-slab h1 {
    font-family: "Roboto Slab", serif;
    font-size: 1.6em;
    font-weight: 400;
    margin-bottom: 0.6em; }
    @media screen and (min-width: 40em) {
      .type-system-slab h1 {
        font-size: 2.4em; } }
  .type-system-slab h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 1.2em; }
    @media screen and (min-width: 40em) {
      .type-system-slab h2 {
        font-size: 1.3em; } }
  .type-system-slab code {
    background: #F7F7F7;
    border-radius: 4.5px;
    border: 1px solid #E0E0E0;
    font-size: 0.8em;
    font-style: normal;
    padding: 0.1em 0.4em;
    white-space: nowrap; }
  .type-system-slab h3 {
    font-family: "Roboto Slab", serif;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.4em;
    margin-bottom: 0.5em;
    text-transform: uppercase; }
  .type-system-slab p.date {
    color: rgba(51, 51, 51, 0.4);
    font-family: "Roboto Slab", serif;
    font-size: 0.8em;
    margin-bottom: 0.5em; }
  .type-system-slab p {
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    letter-spacing: 1;
    margin-bottom: 1.5em; }
    .type-system-slab p span {
      font-family: "Open Sans", sans-serif;
      font-size: 0.8em;
      font-weight: 600;
      text-transform: uppercase; }
  .type-system-slab a.read-more {
    display: inline-block;
    font-family: "Roboto Slab", serif;
    font-size: 0.8em;
    font-weight: 700;
    margin-left: 0.2em;
    position: relative;
    text-transform: uppercase; }
    .type-system-slab a.read-more span {
      font-size: 1.8em;
      position: absolute;
      right: -12px;
      top: -2px; }
  .type-system-slab hr {
    width: 3em; }
  .type-system-slab p.author {
    font-family: "Roboto Slab", serif; }

.stats {
  padding: 0.75em; }
  .stats ul {
    padding: 0; }
  .stats li {
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    color: #44a2c1;
    display: inline;
    float: left;
    font-size: 1.2em;
    font-weight: 800;
    line-height: 1.1em;
    padding: 0 0.7em; }
    .stats li:first-child {
      padding-left: 0; }
    .stats li:last-child {
      border-right: 0; }
  .stats span {
    color: #333;
    display: block;
    font-size: 0.7em;
    font-weight: normal; }

.table-minimal {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0; }
  .table-minimal th {
    text-align: center; }
  .table-minimal td {
    line-height: 1.5; }
  .table-minimal tbody tr:hover > td, .table-minimal tbody tr:hover > th {
    background-color: #fafafa; }
  .table-minimal tbody tr:first-child td {
    border-top: 2px solid #ddd; }
  .table-minimal thead th {
    background-color: white;
    border-bottom: 0px;
    padding: 0.75em 1em; }
  .table-minimal tbody {
    background-color: #fff; }
    .table-minimal tbody td {
      border-bottom: 0px;
      border-top: 1px solid #ddd;
      padding: 0.75em 1em; }
      .table-minimal tbody td button, .table-minimal tbody td .btn {
        background-color: #b7dbe7;
        border-radius: 3px;
        border: none;
        color: #333333;
        display: inline-block;
        font-size: inherit;
        font-weight: bold;
        padding: 7px 18px;
        text-decoration: none;
        background-clip: padding-box;
        display: inline-block;
        font-size: .7em;
        line-height: 1.5;
        margin-bottom: .3em;
        margin-right: 0.5em;
        outline: none;
        padding: .3em 1em;
        width: 100%; }
        .table-minimal tbody td button:hover:not(:disabled), .table-minimal tbody td .btn:hover:not(:disabled) {
          background-color: #c9e5ef;
          cursor: pointer; }
        .table-minimal tbody td button:active:not(:disabled), .table-minimal tbody td .btn:active:not(:disabled), .table-minimal tbody td button:focus:not(:disabled), .table-minimal tbody td .btn:focus:not(:disabled) {
          background-color: #a6d0de;
          cursor: pointer; }
        .table-minimal tbody td button:disabled, .table-minimal tbody td .btn:disabled {
          opacity: 0.5;
          cursor: not-allowed; }
        @media screen and (min-width: 40em) {
          .table-minimal tbody td button, .table-minimal tbody td .btn {
            margin-bottom: 0;
            width: auto; } }

/********
/********
/
/ MY EXTRAS
/
/
/********
/********/
/*
* Respond To
*/
/********
/********
/
/ MY STYLES
/
/
/********
/********/
body {
  text-align: center;
  padding: 0;
  margin: 0; }

.wrapper {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto; }

.head {
  background: #b7dbe7; }
  .head .wrapper {
    text-align: center !important;
    padding: 35px; }
    .head .wrapper h1, .head .wrapper h2 {
      padding: 0;
      margin: 0;
      color: white;
      text-shadow: #b3b3b3 1px 1px 1px;
      font-weight: 800; }
    .head .wrapper h3 {
      color: white;
      font-size: 18px;
      text-shadow: #b3b3b3 1px 1px 1px;
      border-bottom: 1px solid #a4d1e1;
      width: 300px;
      margin: 5px auto 15px auto;
      padding-bottom: 5px; }
    @media (max-width: 580px) {
      .head .wrapper h1 {
        font-size: 35px; } }

.btn {
  background: #44a2c1; }
  .btn:hover, .btn:focus {
    background: #2e738a; }

.entry {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%;
  text-align: center; }
  .entry:last-child {
    margin-right: 0; }
  @media (min-width: 767px) and (max-width: 1273px) {
    .entry {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      margin-left: 17.05961%; }
      .entry:last-child {
        margin-right: 0; } }
  @media (min-width: 581px) and (max-width: 767px) {
    .entry {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%; }
      .entry:last-child {
        margin-right: 0; } }
  @media (max-width: 580px) {
    .entry {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%; }
      .entry:last-child {
        margin-right: 0; } }
  .entry .firstimage img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border: 5px solid #b7dbe7;
    margin-top: 35px; }
  .entry .desc {
    text-align: left;
    padding: 15px 0 0; }
  .entry .stats {
    margin-left: auto;
    display: inline-block;
    padding: 35px 0 15px; }
  .entry .info {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    background: #f7f7f7;
    padding: 15px;
    margin: 25px 0;
    font-size: 20px; }
    .entry .info:last-child {
      margin-right: 0; }
    .entry .info div.price {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      padding-top: 5px; }
      .entry .info div.price:last-child {
        margin-right: 0; }
      @media (min-width: 581px) and (max-width: 767px) {
        .entry .info div.price {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 82.94039%;
          margin-left: 8.5298%; }
          .entry .info div.price:last-child {
            margin-right: 0; } }
      @media (max-width: 580px) {
        .entry .info div.price {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 82.94039%;
          margin-left: 8.5298%; }
          .entry .info div.price:last-child {
            margin-right: 0; } }
    .entry .info div.app {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%; }
      .entry .info div.app:last-child {
        margin-right: 0; }
      @media (min-width: 581px) and (max-width: 767px) {
        .entry .info div.app {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 82.94039%;
          margin-left: 8.5298%;
          padding: 15px 0; }
          .entry .info div.app:last-child {
            margin-right: 0; } }
      @media (max-width: 580px) {
        .entry .info div.app {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 82.94039%;
          margin-left: 8.5298%;
          padding: 15px 0; }
          .entry .info div.app:last-child {
            margin-right: 0; } }
      .entry .info div.app .btn {
        font-size: 16px;
        color: white;
        width: 100%; }
    .entry .info div.phone {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      padding-top: 5px; }
      .entry .info div.phone:last-child {
        margin-right: 0; }
      @media (min-width: 581px) and (max-width: 767px) {
        .entry .info div.phone {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 82.94039%;
          margin-left: 8.5298%; }
          .entry .info div.phone:last-child {
            margin-right: 0; } }
      @media (max-width: 580px) {
        .entry .info div.phone {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 82.94039%;
          margin-left: 8.5298%; }
          .entry .info div.phone:last-child {
            margin-right: 0; } }
  .entry .pictures {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    .entry .pictures:last-child {
      margin-right: 0; }
    .entry .pictures::after {
      clear: both;
      content: "";
      display: table; }
    .entry .pictures img.main {
      width: 100%;
      height: auto;
      border: 5px solid #b7dbe7;
      margin-bottom: 5px; }
    .entry .pictures div div {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      text-align: center; }
      .entry .pictures div div:last-child {
        margin-right: 0; }
      .entry .pictures div div:nth-child(3n) {
        margin-right: 0; }
      .entry .pictures div div:nth-child(3n+1) {
        clear: left; }
      .entry .pictures div div img {
        margin: 5px;
        max-width: 100%;
        max-height: 100%;
        border: 5px solid #b7dbe7; }
  .entry #map_canvas {
    width: 100%;
    height: 500px; }
    @media (max-width: 580px) {
      .entry #map_canvas {
        height: 400px; } }
  .entry .getdir {
    color: #34839e;
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    text-decoration: underline; }
    .entry .getdir:hover, .entry .getdir:focus {
      color: #15343e;
      text-decoration: none; }

/*# sourceMappingURL=style.css.map */
