@import "bourbon", "neat";
@import "base/base";

$base-accent-color: #b7dbe7 !default;

/********
/********
/
/ REFILLS
/
/
/********
/********/

.type-system-slab {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $base-link-color: $base-accent-color !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: em(640) !default;
  $base-font-color: $dark-gray !default;
  
  h1, h2, h3, p {
    margin: 0;
  }

  hr {
    border-bottom: 1px solid $light-gray;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: $base-spacing 0;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  a {
    color: $base-link-color;
    text-decoration: none;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $sans-serif: 'Open Sans', sans-serif;
  $serif: 'Roboto Slab', serif;

  @include clearfix;
  text-align: left;

  .type {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: $sans-serif;
    font-size: 0.7em;
    font-weight: 600;
    margin-bottom: 2em;
    padding: 0.1em 0;
    text-align: left;
    text-transform: uppercase;
  }

  h1 {
    font-family: $serif;
    font-size: 1.6em;
    font-weight: 400;
    margin-bottom: 0.6em;

    @include media($medium-screen) {
      font-size: 2.4em;
    }
  }

  h2 {
    font-family: $sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 1.2em;

    @include media($medium-screen) {
      font-size: 1.3em;
    }
  }

  code {
    background: #F7F7F7;
    border-radius: $base-border-radius * 1.5;
    border: 1px solid #E0E0E0;
    font-size: 0.8em;
    font-style: normal;
    padding: 0.1em 0.4em;
    white-space: nowrap;
  }

  h3 {
   font-family: $serif;
   font-size: 1em;
   font-weight: 600;
   line-height: 1.4em;
   margin-bottom: 0.5em; 
   text-transform: uppercase;
  }

  p.date {
    color: transparentize($base-font-color, 0.6);
    font-family: $serif;
    font-size: 0.8em;
    margin-bottom: 0.5em;
  }

  p {
    font-family: $serif;
    font-weight: 300;
    letter-spacing: 1;
    margin-bottom: 1.5em;

    span {
      font-family: $sans-serif;
      font-size: 0.8em;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  a.read-more {
    display: inline-block;
    font-family: $serif;
    font-size: 0.8em;
    font-weight: 700;
    margin-left: 0.2em;
    position: relative;
    text-transform: uppercase;

    span {
      font-size: 1.8em;
      position: absolute;
      right: -12px;
      top: -2px;
    }
  }

  hr {
    width: 3em;
  }

  p.author {
    font-family: $serif;
  }
}

// STATS REFILL

.stats {
  $base-spacing: 1.5em !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $stats-color: darken($base-accent-color, 30%);

  padding: $base-spacing / 2;

  ul {
    padding: 0;
  }

  li {
    border-right: 1px solid transparentize($base-font-color, 0.8);
    color: $stats-color;
    display: inline;
    float: left;
    font-size: 1.2em;
    font-weight: 800;
    line-height: 1.1em;
    padding: 0 0.7em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }

  span {
    color: $base-font-color;
    display: block;
    font-size: 0.7em;
    font-weight: normal;
  }
}

// TABLES

.table-minimal {
  
///////////////////////////////////////////////////////////////////////////////////
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $base-link-color: $base-accent-color !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  
  width: 100%;

  th {
    text-align: center;
  }

  td {
    line-height: $base-line-height;
  }
  
//////////////////////////////////////////////////////////////////////////////////

  $table-border-color: $base-border-color;
  $table-border: 1px solid $table-border-color;
  $table-background: $base-background-color;
  $table-header-background: lighten($table-background, 10);
  $table-hover-background: darken($table-background, 2);
  $table-stripe-background: darken($table-background, 4);
  $table-stripe-background-hover: darken($table-stripe-background, 5);
  $table-padding: .75em 1em;

  border-collapse: separate;
  border-spacing: 0;

  tbody {
    tr:hover > td, tr:hover > th {
      background-color: $table-hover-background;
    }
    tr:first-child td {
      border-top: 2px solid $table-border-color;
    }
  }

  thead {
    th {
      background-color: $table-header-background;
      border-bottom: 0px;
      padding: $table-padding;
    }
  }

  tbody {
    background-color: $table-background;

    td {
      border-bottom: 0px;
      border-top: 1px solid $table-border-color;
      padding: $table-padding;

      button {
        @include button(flat, $base-accent-color);
        display: inline-block;
        font-size: .7em;
        line-height: $base-line-height;
        margin-bottom: .3em;
        margin-right: 0.5em;
        outline: none;
        padding: .3em 1em;
        width: 100%;

        @include media($medium-screen) {
          margin-bottom: 0;
          width: auto;
        }
      }
    }
  }
}

/********
/********
/
/ MY EXTRAS
/
/
/********
/********/

/*
* Respond To
*/
// Breakpoints for each query
$smartphone: 580px;
$tabletPortrait: 767px;
$tabletLandscape: 1273px;
$desktop: 1274px;
$largeScreen: 1400px;
@mixin respondTo($media) {
  @if $media == smartphone {
    @media (max-width: $smartphone) { @content; }
  }
  @else if $media == smartphoneplus {
	@media (min-width: $smartphone + 1) and (max-width: $tabletPortrait) { @content; }
  }
  @else if $media == tablet {
    @media (min-width: $tabletPortrait) and (max-width: $tabletLandscape) { @content; }
  }
  @else if $media == smallScreen {
    @media (max-width: $desktop) { @content; }
  }
  @else if $media == desktop {
    @media (min-width: $desktop) { @content; }
  }
}

/********
/********
/
/ MY STYLES
/
/
/********
/********/

body {
	text-align:center;
	padding:0;
	margin:0;
}
.wrapper {
	max-width: 1170px;
	margin-left:auto;
	margin-right:auto;
}
.head {
	background:$base-accent-color;
	.wrapper {
		text-align:center !important;
		padding:35px;
		h1,h2{
			padding:0;
			margin:0;
			color:white;
			text-shadow:lighten(black,70%) 1px 1px 1px;
			font-weight:800;
		}
		h3 {
			color:white;
			font-size:18px;
			text-shadow:lighten(black,70%) 1px 1px 1px;
			border-bottom:1px solid darken($base-accent-color,5%);
			width:300px;
			margin:5px auto 15px auto;
			padding-bottom:5px;
		}
		h1 {
			@include respondTo(smartphone) {
				font-size:35px;
			}
		}
	}
}
.btn {
	@extend button;
	background:darken($base-accent-color, 30%);
    &:hover,
    &:focus {
      background:darken($base-accent-color, 45%);
    }
}
.entry {
	@include span-columns(6);
	@include shift(3);
	@include respondTo(tablet) {
		@include span-columns(8);
		@include shift(2);
	}
	@include respondTo(smartphoneplus) {
		@include span-columns(10);
		@include shift(1);
	}
	@include respondTo(smartphone) {
		@include span-columns(10);
		@include shift(1);
	}
	text-align:center;
	.firstimage {
		img {
			max-width:100%;
			max-height:100%;
   			width: auto;
   	  		height: auto;
			border:5px solid $base-accent-color;
			margin-top:35px;
		}
	}
	.desc {
		text-align:left;
		padding:15px 0 0;		
	}
	.stats {
		margin-left:auto;
		display:inline-block;
		padding:35px 0 15px;
	}
	.info {
		@include span-columns(12);
		background:#f7f7f7;
		padding:15px;
		margin:25px 0;
		font-size:20px;
		div.price, {
			@include span-columns(3);
			padding-top:5px;
			@include respondTo(smartphoneplus) {
				@include span-columns(10);
				@include shift(1);
			}
			@include respondTo(smartphone) {
				@include span-columns(10);
				@include shift(1);
			}	
		}
		div.app {
			@include span-columns(5);
			@include respondTo(smartphoneplus) {
				@include span-columns(10);
				@include shift(1);
				padding:15px 0;
			}
			@include respondTo(smartphone) {
				@include span-columns(10);
				@include shift(1);
				padding:15px 0;
			}	
			.btn {
				font-size:16px;
				color:white;
				width:100%;
			}			
		}
		div.phone {
			@include span-columns(4);
			@include respondTo(smartphoneplus) {
				@include span-columns(10);
				@include shift(1);
			}
			@include respondTo(smartphone) {
				@include span-columns(10);
				@include shift(1);
			}	
			padding-top:5px;
		}
	}
	.pictures {
		@include span-columns(12);
		@include outer-container;
		img.main {
			width:100%;
			height:auto;
			border:5px solid $base-accent-color;
			margin-bottom:5px;
		}
		div {
			div {
				@include span-columns(4);
				@include omega(3n);
				text-align:center;
				img {
					margin:5px;
					max-width:100%;
					max-height:100%;
					border:5px solid $base-accent-color;
				}
			}
		}
	}
	#map_canvas {
		width:100%; 
		height:500px;
		@include respondTo(smartphone) {
			height:400px;
		}	
	}
	.getdir {
		color:darken($base-accent-color,40%);
		display:block;
		text-align:center;
		padding:10px;
		font-size:20px; 
		text-decoration:underline;
	    &:hover,
	    &:focus {
	      color:darken($base-accent-color, 65%);
		text-decoration:none;
	    }
	}
}


